<!doctype html>
<html>
  <head>
    <title>Books</title>
    <link rel="icon" type="image/png" href="/public/favicon.png" />
  </head>
  <body>
    <h1>Books</h1>
    <ul>
        <% books.forEach(function(book) { %>
            <li><% book.title %></li>
        <% }); %>
    </ul>


    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>title</th>
                <th>author</th>
            </tr>
        </thead>
        <tbody>
            <% books.forEach(function(book) { %>
                <tr>
                    <td></td>
                    <td><% book.title %></td>
                    <td><% book.author %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>


  </body>
</html>
